<h4>Continuous Print Settings</h4>
<form class="form-horizontal">
	<p>
		When continually printing the bed needs to be cleared in order for the next print to work.
	</p>
	<p>
		There is a special [PAUSE] command that doesn't get sent to the printer but instead indefinatly pauses the queue until the resume button is pressed.<br />
		<small style="font-size: 0.8em"><b>Note:</b> this doesn't put the printer into a paused state it simply tells the queue to wait.</small>
	</p>
	
	<div class="control-group">
        <label class="control-label">Queue finished script</label>
        <div class="controls">
            <textarea rows="8" class="input-block-level" data-bind="value: settings.plugins.make3dautoprint.cp_queue_finished_script"></textarea>
        </div>
    </div>
    <br>
    <br>
    <div class="control-group">
        <label class="control-label">Start prints automatically</label>
        <div class="controls">
            <textarea rows="8" class="checkbox" data-bind="checked: settings.plugins.make3dautoprint.cp_start_queue_automatically"></textarea>
        </div>
    </div>
</form>
