<!--<div id="print_finished_dialog" class="modal hide">-->
<div id ="print_check_dialog" class="modal hide">
	<button class="btn btn-primary pull-right" data-bind="click: printOK" title="Print is OK">
	<i class="fa fa-play"></i>&nbsp;&nbsp;{{ _('Print OK') }}
	</button>
	<button class="btn btn-primary pull-left" data-bind="click: printNotOK" title="Print is NOT OK">
	<i class="fa fa-play"></i>&nbsp;&nbsp;{{ _('Print NOT OK') }}
	</button>
</div>
<div id ="print_again_dialog" class="modal hide">
	<button class="btn btn-primary pull-right" data-bind="click: printAgain" title="Print it Again">
	<i class="fa fa-play"></i>&nbsp;&nbsp;{{ _('Print Again') }}
	</button>
	<button class="btn btn-primary pull-left" data-bind="click: printNotAgain" title="Dont Print it Again">
	<i class="fa fa-play"></i>&nbsp;&nbsp;{{ _('Dont Print Again') }}
	</button>
</div>
<div id ="take_print_dialog" class="modal hide">
	<h5>Please take the print off the bed and press OK.</h5>
	<small style="font-size: 0.8em"><b>Note:</b> Dont Press OK before the print is off the bed, to avoid problems.</small>
	<button class="btn btn-primary pull-right" data-bind="click: printFinishedDialogDone" title="OK">
	<i class="fa fa-play"></i>&nbsp;&nbsp;{{ _('OK') }}
	</button>
</div>
<!--</div>-->
